{% extends 'unibooks/base.html' %}

{% block titre %}Mes Emprunts{% endblock %}

{% block contenu %}

<h1 class="page-titre">Mes Emprunts</h1>

{% if emprunts %}
<div class="bloc">
    <div class="tableau-wrapper">
        <table class="tableau">
            <thead>
                <tr>
                    <th>Livre</th>
                    <th>Auteur</th>
                    <th>Emprunté le</th>
                    <th>Retour prévu</th>
                    <th>Retour effectif</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% for emprunt in emprunts %}
                <tr {% if emprunt.statut == 'EN_RETARD' %}style="background-color: var(--rouge-fond);"{% endif %}>
                    <td class="gras">{{ emprunt.livre.titre }}</td>
                    <td>{{ emprunt.livre.auteur }}</td>
                    <td>{{ emprunt.date_emprunt|date:"d/m/Y" }}</td>
                    <td>
                        {{ emprunt.date_retour_prevue|date:"d/m/Y" }}
                        {% if emprunt.est_en_retard %}
                        <br>
                        <span class="texte-rouge" style="font-size: 0.78rem;">
                            {{ emprunt.date_retour_prevue|timesince }} de retard
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if emprunt.date_retour_reelle %}
                            {{ emprunt.date_retour_reelle|date:"d/m/Y" }}
                        {% else %}
                            <span class="texte-gris">—</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="badge {% if emprunt.statut == 'EN_COURS' %}badge--en-cours {% elif emprunt.statut == 'RENDU' %}badge--rendu {% else %}badge--en-retard{% endif %}">
                            {{ emprunt.get_statut_display }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="bloc" style="text-align: center; padding: 48px;">
    <p class="texte-gris">Vous n'avez aucun emprunt enregistré.</p>
    <a href="{% url 'unibooks:catalogue' %}" class="btn btn--primaire" style="margin-top: 16px;">
        Parcourir le catalogue
    </a>
</div>
{% endif %}

{% endblock %}